<header class="page-header">
<nav class='navbar navbar-expand-md navbar-dark bg-dark'>
    <a class="navbar-brand" href='/'><i data-feather="home"></i></a>
    <span class="navbar-text">
        <h3>{{title}}</h3>
    </span>
    <button class="navbar-toggler" type="button" data-togle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav col"></div>
        <a class="nav-item nav-link btn btn-light col-auto" href="/cards/add">Add Card</a>
    </div>

</nav>
</header>
